extends layout

block contentBody
    .row.page-header
        .col-lg-12
            h1= title
    .row
        .col-xs-12.col-md-6
            form.form-horizontal(action="/location", method="get", role="form")
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="name")= form.inputName
                    .col-xs-12.col-sm-10
                        input#name.form-control(name="name", placeholder= form.inputName)
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="rating")= form.inputRating
                    .col-xs-12.col-sm-4
                        select#rating.form-control.input-md(name="rating")
                            each item in form.selectOptions
                                option= item
                .form-group
                    label.col-sm-2.control-label(for="review")= form.inputReview
                    .col-sm-10
                        textarea#review.form-control(name="review", rows="5", placeholder= form.inputReview)
                button.btn.btn-default.pull-right= form.btnAddReview
        .col-xs-12.col-md-4

