extends layout

block prepend cssFiles
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css", type="text/css")

block prepend scriptFiles
    script(src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js")

include _includes/sharedHTMLFunctions

block contentBody
    #page.page-header
        .row
            .col-lg-12
                h1 #{title}

    .row
        .col-xs-12.col-md-9
            .row
                .col-xs-12.col-sm-6
                    p.rating
                        +outputRating(location.rating)

                    p= location.address
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title= location.openingTimesTitle
                        .panel-body
                            each item in location.openingTimes
                                div.p-2.d-block
                                    span.d-block= item.days
                                    span.pr-2= item.opening
                                    span.pr-2= item.closing
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title= location.facilities.title
                        .panel-body
                            +outputFacilities(location.facilities.items, false)
                            
                .col-xs-12.col-sm-6.location-map
                    .panel.panel-primary
                        .panel-heading
                                h2.panel-title= location.map.title
                        .panel-body#locationMap
                        script(type="text/javascript").
                            //- Website to use: http://epsg.io/map#srs=4326&x=-46.614990&y=-23.538809&z=7&layer=streets and https://openlayers.org/en/latest/doc/faq.html
                            const spLonLat = [-46.614990, -23.538809];
                            const spLonLatWebMercator = ol.proj.fromLonLat(spLonLat);
                            var map = new ol.Map({
                                target: 'locationMap',
                                layers: [
                                    new ol.layer.Tile({
                                        source: new ol.source.OSM()
                                    })
                                ],
                                view: new ol.View({
                                    center: spLonLatWebMercator,
                                    zoom: 6
                                })
                            });

            .row
                .col-xs-12
                    .panel.panel-primary.review-panel
                        .panel-heading
                            h2.panel-title.d-inline-block= location.customerService.title
                            a.btn.btn-default.d-inline-block(href="/review-new")= location.customerService.btnAddReview
                        .panel-body.review-container.d-block.p-0.m-0
                            .row.m-0
                                each review in location.customerService.reviewsStack
                                    .review.col-12.p-0.m-0
                                        .well.well-sm.review-header
                                            span.rating.pr-4
                                                +outputRating(review.rating)
                                                span.d-block.p-2
                                            span.reviewAuthor.pr-4 #{ review.author } &nbsp; |
                                            small.reviewTimestamp.pr-4 #{ review.createdOn } &nbsp;
                                        .col-12.p-2.pl-4.pr-4.m-0
                                            p= review.reviewText
        .col-xs-12.col-md-3.pb-5
            p.lead= location.sidebar.lead
            p= location.sidebar.regular